*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eaecee;
    color: black;

}

#menu {

    background-color: white;

    height: 90px;
    width: 100%;

    text-align: center;

    position: fixed;
    top: 0;
    
}

#menu ul {
    float: center;
    margin-right: 20px;
}

#menu ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
}

#menu ul li a {
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    padding: 7px 13px;
    
}

a.active,a:hover{
    background-color: #95a5a6;
    transition: .5s;
}

#leftmenu_main {
   position: fixed;
   top: 90px;
   left: 0;
   width: 250px;
   height: 100%;
   background-color: #f2f3f4;
    
}

#leftmenu_main h3 {
    font-size: 23px;
    color: black;
    text-align: center;
    line-height: 70px;
    background-color: #95a5a6;
    user-select: none;
}

#leftmenu_main ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: black;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transform: .4s;
}

#leftmenu_main ul li:hover a{
    padding-left: 50px;
}

#leftmenu_main ul a i{
    margin-right: 16px;
}


#header {

   padding: 140px 0px 300px 300px;

}

h1{
    font-size: 32px;
    
}
h2{
    font-size: 18px;
}

p {
    text-align: justify ;

    font-size: 14px;

}

#content_main{
    padding-left: 300px;
    padding-right: 300px;
}

#footer {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
